<div class="load" [class.show]="isActive1=='show'"><app-load></app-load></div>
<div class="path">
   文件路径: {{fileStr2}}
</div>
  <div id="container">
    <table class="table">
        <thead>
              <th><span>文件名</span></th>
              <th>操作</th>
        </thead>
        

        <tbody>
            <tr style="box-shadow:none;">
                <td  (click)="back()" *ngIf="firstFile" style="cursor: pointer;"><i class="fa fa-back"></i>
                    <label style="cursor: pointer;">返回上一级</label></td>
            </tr>

            <!-- <tr *ngFor="let i of newFileArr | paginate: { itemsPerPage: 8, currentPage: p }" > -->
            <tr *ngFor="let i of newFileArr ">

                <!--  文件夹有不同的图标 -->
                <td *ngIf="i.isFile && i"><i class="fa fa-file-o"  ></i> 
                    <label>{{i.name}}</label>
                </td>
                <td *ngIf="!(i.isFile && i)" style="cursor: pointer;"  (click)="openFile(i)"><i class="fa fa-folder" ></i> 
                    <label style="cursor: pointer;">{{i.name}}</label>
                </td>
               
                
                <!-- <td *ngIf="(i.isTxt==1)"><i class="fa fa-download" title="下载"></i></td> -->
                <td *ngIf="i.isFile && i"><i class="fa fa-download" (click)="download(i)" title="下载"></i></td>
                <td *ngIf="!(i.isFile && i)"><i>--</i></td>


            </tr>
           
               
            
        </tbody>
     
    </table>
     
  </div>
