<div class="left" [class.show]="isActive1=='show'">
  <!-- <div class="left1" [class.show]="isActive1=='show'">
111
  </div>
  <div class="left2" [class.show]="isActive1=='show'">
222
  </div> -->
  <!-- routerLink='/right'
  routerLink='/rightSearch' -->
  <ul>
    <li (click)="isBlue2()" [class.blue]="isBlueClass2"><i class="fa fa-align-justify" (click)="isBlue2()" [class.blue1]="isBlueClass2"></i>服务器列表</li>
    <li  (click)="isBlue()" [class.blue]="isBlueClass"> <i class="fa fa-file-text"  (click)="isBlue()" [class.blue1]="isBlueClass"></i>文件目录</li>
    <li  (click)="isBlue1()" [class.blue]="isBlueClass1"><i class="fa fa-search" (click)="isBlue1()" [class.blue1]="isBlueClass1"></i>查找</li>
  </ul>
  
  <button (click)="isShow()" class="botton">{{smallLogo}} </button>
</div>
<div class="right" [class.show2]="isActive2=='show2'">
<div class="appR" [class.show3]="isActive3=='show3'"><app-right></app-right></div> 
<div class="appL"[class.show3]="isActive4=='show3'"><app-right-search></app-right-search></div>
<div class="appN"[class.show3]="isActive5=='show3'"><app-new-right></app-new-right></div>

</div>