.top{
    background: none;
    position: absolute;
    top: -60px;
    left: 30px;
    font-size: 18px;
    font-weight: 550;
}
/* *{
    background: #fff ;
} */


.change{
    border: 1px solid #dbdbdb;
   
    width: 25%;
    margin-bottom: 15px;
    color: #ffffff;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    font-weight: bolder;
    text-align: center;
    transition: background ease 0.5s,width ease 0.5s;    
    font-weight: bolder;
    margin-top: 10px;
    font-weight: bolder;
    font-size: 15px;
}
.change:hover{
    font-weight: bold;
   color: #fff;
   width: 26.5%;
}

#container{
    background: #fff;
    width: 85% ;
    margin: 0 auto ;
    border: 1px solid #eeeeee ;
}
table{
    width: 85% ;
    border-collapse: collapse ;
    margin: 0 auto ;
}

table tr  {
    text-align: center ;
    transition: all 0.2s ease;
}

/* table tr:hover{
    background: #f3f5f8;
    box-shadow: #999999 1px 0px 1px 0;
    font-size: 18px;
}
table tr:hover .change{
    width: 26%;
    font-size: 16px;
} */


table td , th {
    width: 40% ;
    height: 50px ;
    border-bottom: 1px solid #ededed ;
    border-top: 1px solid #ededed ;
}

table th:first-child , td:first-child{
    text-align: left;
}

table th span ,td label{
    margin-left: 10px ;

}

i{
    margin-left: 10px ;
    font-size: 1.2em ;

}

i{
    color: unset;
}
tr td:last-child i:hover{
    color: #3583f7;
    font-size: 1.3em ;
}
.load{
    position: absolute;
    top: 15.5%;
    left: 7.5%;
    right: 7.5%;
    bottom: 0.5%;
    display: none;
    background-color: #fff;
}

.load.show{
    display: block;
}
button{
    cursor: pointer;
    background-color: #56bd5b;
    box-shadow: 1px  1px 0 0 rgb(158, 158, 158);
}
.change1{
    border: none;
    box-shadow: none;
    background: #42a147;
    font-weight: bold;
    width: 26.5%;

}
.change2{
    color: #3583f7;
}
.path{
    
    background-color: #56bd5b;
    width: 15%;
    margin-bottom: 15px;
    margin-left: 7.5%;
    color: #fff;
    border-radius: 3px;
    height: 30px;
    line-height: 30px;
    font-weight: bolder;
    text-align: center;
}